<html>
    <head>
        <title>Hant Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">First Post</a></h1>
        </div>

        <div>
            <p>Published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Примерно...</p>
        </div>

        <div>
            <p>Published: 14.06.2014, 12:14</p>
            <h2><a href="">My third post</a></h2>
            <p>Всем привет, это автор этого сайта...</p>
        </div>
    </body>
</html>